@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap");

:root {
    color--1: #fc7300;
    color--2: #1f8a70;
    color--3: #00425a;
    color--4: #181823;
    color--5: #eff5f5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Belanosima, sans-serif;
}


#menu {
    background: #1f8a70;
    text-align: center;

}


#menu ul li a {
    color: #eff5f5;
    display: list-item;
    padding: 10px 0px;
}

#menu ul li a:hover {
    background-color: #fc7300;
    border-radius: 30%;
}

.active {
    background-color: #fc7300;
    border-radius: 30%;
}


div h1 {
    font-family: Poppins sans-serif;
    padding-top: 50px;
    font-size: 40px;
    text-align: center;

}

.banner {
    background-image: url(img/niños_felices.jpg);
    height: 25rem;
    width: 100%;
    background-position: center center;
    background-size: cover;
    margin-top: 0px;
}

article {
    background-color: #1f8a70;
}

h2 {
    text-align: center;
}

.libro,.porque,.propuesta {
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

h4,p{
    margin: 0 10px;
}

/*.banner{
    background-image:url(img/niños_felices.jpg);
    height: auto;
    width: 100%;
    background-size:cover;
    justify-content:space-between;
    display: flex;
}*/

/*#menu ul li {
    display: inline-block;  
}*/