@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,200;0,500;0,800;1,200;1,500;1,800&display=swap");

:root {
    color--1: #fc7300;
    color--2: #1f8a70;
    color--3: #00425a;
    color--4: #181823;
    color--5: #eff5f5;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Belanosima, sans-serif;
}



#menu {
    background: #1f8a70;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: #eff5f5;
    display: block;
    padding: 10px 10px;
}

#menu ul li a:hover {
    background-color: #fc7300;
}

.active {
    background-color: #fc7300;
}


div h1{
    font-family: Poppins sans-serif;
    padding: 60px;
    text-align: center;
    font-size: 60px;
    
}
.banner{
    background-image:url(img/niños_felices.jpg);
    height: 624px;
    width: 100%;
    background-size:cover;
}

/*.banner{
    background-image:url(img/niños_felices.jpg);
    height: auto;
    width: 100%;
    background-size:cover;
    justify-content:space-between;
    display: flex;
}*/